.companyLists {
  margin-top: 40px;
  ul#company-list{
    padding: 0px;
    li{
      height: 70px; background-color: #fff; color: #000; margin-top: 1px; padding: 15px 10px 10px 70px; position: relative; cursor: pointer;
      .fa{display: block; line-height: 50px; font-size: 24px; text-align: center; color: white; background-color: #2196f3; width: 50px !important; height: 50px !important; position: absolute; left: 10px; top: 10px; margin: 0px !important; border-radius: 0px !important; border-radius: 50%  !important;}
      .name{color: #000; margin-top: 9px; font-size: 16px;}
    }
  }
  .noBoundCompany{
    position:fixed; width:100%;text-align: center; margin-top:40%; color: black; font-size: 16px;
  }
}
