<head>
  <meta http-equiv="content-type" content="text/html;charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
  <meta content="telephone=no" name="format-detection" />
  <title>创作故事</title>
  <link rel="stylesheet" href="../static/styles/index.css">
  <script type="text/javascript" src="../static/scripts/jquery-3.1.0.min.js"></script>
  <script type="text/javascript">
    var progress = 0;
    var intrval = null;
    var server_domain = "<%= server_domain %>";
    var port = "<%= port %>";
    var userId = "<%= userId %>";
    var cancel = false;
    var importUrl = '';
    
    var openPage = function(page){
      window.location = page;
    };
    var importFun = function(){
      if(!$('#import-post-url').val())
        return alert('请粘贴或输入一个URL地址');
      if(!userId)
        return alert('请求格式为：/userId/url\ruserId为必填项.');
        
      cancel = false;
      progress = 5;
      intrval = setInterval(function () {
        if(progress < 95)
          progress += 1;
          
        $('.progress span').html(progress+'%');
        $('.progress span').attr('style', 'width: '+progress+'%;');
      }, 200);
        
      $('.guide').hide();
      $('.wait').show();
      
      // ajax
      // console.log('/' + encodeURIComponent(userId) + '/' + encodeURIComponent($('#import-post-url').val()) + '?ajax=true&t=' + new Date().getTime());
      var api_url = 'http://'+server_domain+':'+port+'/import';
      api_url += '/' + encodeURIComponent(userId);
      api_url += '/' + encodeURIComponent($('#import-post-url').val());
      api_url += '?ajax=true&t=' + new Date().getTime();
      $.ajax({
        type: "GET",
        url: api_url,
        dataType: "json",
        cache: false,
        success: function(data){
          console.log(data);
          if(!cancel){
            cancel = false;
            clearInterval(intrval);
            progress = 0;
            $('.progress span').html('0%');
            $('.progress span').attr('style', 'width: 0%;');
            
            $('.wait').hide();
            $('.guide').show();
            
            if(data && data.status === 'failed')
              return alert('导入失败，请重试！');

            alert('导入成功~');
            $('#import-post-url').val('');
            console.log(data.url);
            openPage(data.url);
          }
        },
        error: function(){
          if(!cancel){
            cancel = false;
            clearInterval(intrval);
            progress = 0;
            $('.progress span').html('0%');
            $('.progress span').attr('style', 'width: 0%;');
            
            $('.wait').hide();
            $('.guide').show();
            alert('导入失败，请重试！');
          }
        }
      });
    };
    
    $(document).ready(function(){
      if(window.location.search){
        var query = window.location.search.substr(1).split('&');
        if(query.length > 0){
          for(var i=0;i<query.length;i++){
            var obj = query[i].split('=');
            if(obj[0].toLowerCase() === 'userid' && obj[1])
              userId = decodeURIComponent(obj[1]);
            if(obj[0].toLowerCase() === 'url' && obj[1])
              importUrl = decodeURIComponent(obj[1]);
          }
        }
      }
      console.log(userId);
      $('#import-post-url').val(importUrl);

      $('button.import').click(function(){
        importFun();
      });
      $('button.cancel').click(function(){
        clearInterval(intrval);
        progress = 0;
        $('.progress span').html('0%');
        $('.progress span').attr('style', 'width: 0%;');
        
        $('.wait').hide();
        $('.guide').show();
        cancel = true;
      });
      
      if(userId && importUrl)
        importFun();
    });
  </script>
</head>
<body>
  <div class="import-post">
    <div class="main">
      <div class="guide">
        <input type="text" id="import-post-url" class="form-control" placeholder="请粘贴或输入一个URL地址">
        <button type="button" class="btn btn-default btn-block import">马上导入</button>
        <img class="import-setup" src="../static/images/import_setup.png" />
      </div>
      <div class="wait">
        <div class="progress">
          <span class="green" style="width: 0%;"><span>0%</span></span>
        </div>
        <div class="progress-text">正在导入，预计5秒完成...</div>
        <button type="button" class="btn btn-default btn-block cancel">取消导入</button>
      </div>
    </div>
  </div>
</body>