html{
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; 
  text-size-adjust: 100%;
}
.no-data-container{
	position: absolute;
    top: 45%;
    text-align: center;
    margin: auto;
    left: 10%;
    right: 10%;
}