.head{width:100%; height:40px;font-size:16px; line-height:40px; position:fixed; left:0; top:0; border:none; text-align:center; background: #282828; z-index: 9999;opacity: 0.99;}
.head strong{font-size: 16px; color: #fff}
.head .leftButton span{position: relative;bottom: 8px;font-size:8px;color:#fff}
.head .leftButton{ position:absolute; left: 10px;top:0;cursor:pointer;margin-top: 3px;text-align:left;}
.head .leftButton i{font-size: 26px;padding-right: 60px;color: #fff;}
.head .rightButton{ position:absolute; right: 5px; top:0; cursor:pointer;margin-top: 3px; text-align:right;}
.head .rightButton i{font-size: 26px; padding-right: 6px;color: #fff;}

.home .content{margin-top: 40px;padding-bottom:15px;background-color: #3F3F3F}