.series ,.author-self-posts{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  color: #000;
}
.series-head{
  position: absolute;
  z-index: 90;
  top: 0;
  width: 100%;
  height: 50px;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.5);
  color: #fff;
  .back{
    display: inline-block;
    width: 30px;
    height: 50px;
    padding-left: 10px;
    i{font-size: 18px; line-height: 50px;}
  }
}
.series-head-owner{
  display: inline-block;
  position: absolute;
  left: 10px;
  right: 80px;
  height: 50px;
  line-height: 50px;
  img{
    width: 30px;
    height: 30px;
    margin-right: 5px;
    border-radius: 50%;
    object-fit: cover;
  }
}
.series-head-infos{
  display: inline-block;
  position: absolute;
  left: 45px;
  right: 0;
  padding: 8px 0;
  p{
    margin: 0;
    padding: 0;
    line-height: 18px;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
.series-btns{
  font-size: 0;
  text-align: right;
  color: #fff;
  display: inline-block;
  float: right;
}
.series-btns div {
  display: inline-block;
  width: 64px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #fff;
  font-size: 14px;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
}
.series-btns .back{ float: left};
.series-btns i{
  font-size: 22px;
  display: block;
  line-height: 40px;
  color: #fff;
}

.series-title{
  height: 300px;
  overflow: hidden;
  position: relative;
  width: 100%;
  h1,h2{word-wrap: break-word;text-shadow: 2px 2px 2px #000, 0px 0px 10px #000, 0px 0px 20px #000;}
  h1,h2,textarea{
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 10px;
    color: #fff;
    font-size: 20px;
    line-height: 25px;
    max-height: 100px;
    overflow: hidden;
    letter-spacing: 1px;

  }
  textarea{
    border: 1px dotted #ccc;
    outline: none;
    border-radius: 4px;
    // background: none;
    width: 90%;
    height: 80px;
    left: 5%;
    resize: none;
    background: rgba(0,0,0,.26);
    user-select: auto;
    -webkit-user-select: auto;
    -ms-user-select: auto;
    -moz-user-select: auto;
    -webkit-touch-callout: default;
    z-index: 9;
  }
}
.series-title:after{
  position: absolute;
  // content: "";
  height: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  background: liner-gradient(to top,rgba(0,0,0,.26),rgba(0,0,0,0));
}
.series-container,.author-self-posts-container{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  background: #fefefe;
}
.series-posts-lists{
  margin: 0 5px;
  padding: 10px 0;
}
.series-posts-lists:after{
    content:"."; display:block; height:0; visibility:hidden; clear:both; zoom: 1;
}
.series-post-item,.author-post-item{
  position: relative;
  list-style: none;
  width: 100%;
  float: left;
  margin-bottom: 5px;
  background: #fff;
  h2,h4{
    margin: 0; padding: 0; letter-spacing: 1px;
  }
  h2{
    font-size: 14px;
    font-weight: bold;
    color: #000;
    line-height: 20px;
    height: 26px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }h4{
    line-height: 22px;
    font-size: 12px;
    color: #777;
    margin: 0;
    padding: 0;
    height: 44px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp:2;
    -webkit-box-orient: vertical;
  }
}
.series-post-item-select:before,.author-post-item-select:before{
  position: absolute;
  content:''; // \f1db
  top: 5px;
  left: 5px;
  width: 90px;
  height: 90px;
  box-sizing: border-box;
  border: none;
  background: url('/select.svg') no-repeat;
  background-size: 50%;
  background-position: center;
  z-index: 9;
}
.series-post-item-select .series-img-helper:after,.author-post-item-select .series-img-helper:after{
  position: absolute;
  content:'';
  top: 5px;
  left: 5px;
  width: 90px;
  height: 90px;
  box-sizing: border-box;
  border: none;
  background: rgba(0,0,0,.26);
}
.series-post-info{
  margin: 10px 5px;
  color: #000;
}
.series-img-helper {
  height: 80px;
  margin: 5px;
  float: left;
  margin-right: 10px;
  img{
    width: 110px;
    height: 80px;
    object-fit: cover;
  }
}

.series-dropdown{
  position: fixed;
  display: none;
  z-index: 99;
  background: #fff;
  top: 36px;
  right: 0;
  margin: 4px;
  width: 120px;
  padding: 0;
  border-radius: 4px;
  box-shadow: 3px 0 13px #ccc,0 3px 13px #ccc;
}
.series-dropdown li{
  list-style: none;
  color: #000;
  font-size: 14px;
  line-height: 32px;
  text-align: center;
}

.series-foot{
  position: absolute;
  height: 40px;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  font-size: 0;
  color: #000;
  box-shadow: 0 -2px 12px #ccc;
}
.series-foot div{
  height: 40px;
  line-height: 40px;
  text-align: center;
  display: inline-block;
  width: 50%;
  font-size: 14px;
}

.author-self-posts{
  z-index: 9990;
  display: none;
  background: #fff;
}
.author-self-posts-container,.change-series-image-container{
  top: 48px;
}

.editAndAddNew{
  text-align: center;
  width: 120px;
  height: 48px;
  line-height: 48px;
  border-radius: 4px;
  border: 1px solid #000;
  margin: 0 auto;
  margin-top: 100px;
}

.mainImageTools{
  position: absolute;
  top: 350px;
  background: #2196F3;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 80px;
  border-radius: 4px;
  z-index: 9;
  padding: 4px;
  display: none;
  color: #fff;
  span{
    padding: 4px 10px;
  }

}
.mainImageTools:before{
  position: absolute;
  top: -8px;
  content: "";
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #2196F3;
  left: 50%;
  margin-left: -8px;
}
.loadingStatus{
  line-height: 40px;
  text-align: center;
}

// share
.shareSeries{
  position: absolute;
  display:none;
  z-index: 999;
  background: rgba(0,0,0,.16);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  .share-series-container{
    position: absolute;
    bottom: 5px;
    left: 5px;
    right: 5px;
    color: #333;
  }
  .share-series-btns{
    position: absolute;
    bottom: 55px;
    margin: 0;
    padding: 10px;
    background: #fff;
    width: 100%;
    border-radius: 8px;
    font-size: 12px;
    li{
      list-style: none;
      float: left;
      height: 86px;
      width: 25%;
      text-align: center;
    }
    img{
      display: block;
      margin: 10px auto;
    }
  }
  .cancelShareSeries{
    background: #fff;
    line-height: 50px;
    text-align: center;
    border-radius: 8px;
  }
}

.series-func-btn-container {
  position: fixed;
  top: 50px;
  left: 10px;
  background-color: #337ab7;
  z-index: 9000;
  padding: 5px;
}

.subscribeSeriesPage{
  z-index: 9999; position: fixed;top: 0; right: 0; bottom: 0; left: 0;display: none; background: none; background-color: rgba(0,0,0,.36);
  .bg{z-index: 9;position: fixed;top: 0; right: 0; bottom: 0; left: 0;background: none;}
  .content {
    background: white;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 280px;
    height: 230px;
    border-radius: 8px;
    z-index: 99;
    .header{
      line-height: 48px;
      background: #eee;
      font-size: 16px;
      padding-left: 16px;
      font-weight: 600;
      border-radius: 4px 4px 0 0;
    }
    .body{
      padding: 16px;
      textarea{ width: 100%; border: none;line-height: 1.5em;resize:none;outline:none; color: #777; font-size: 14px;}
      .tips{font-size: 12px; color: #909090;white-space: pre-line; text-align: justify;}
      .help-block{ margin: 4px 0; color: #909090;}
    }
    .footer{
      position: absolute;
      width: 100%;
      height: 48px;
      box-sizing: content-box;
      bottom: 0;
      left: 0;
      border-top: 1px solid #ccc;
      .btn{
        width: 50%;
        height: 48px;
        line-height: 48px;
        text-align: center;
        color: #00c4ff;
        float: left;
        cursor: pointer;
        box-shadow: none;
        -webkit-tap-highlight-color:none;
        position: relative;
      }
      .okBtn{border-bottom-right-radius: 8px; border-left: 1px solid #ccc;}
      .cannelBtn{border-bottom-left-radius: 8px;}
    }
  }
}
