.timeLine{
  margin: 0; padding: 10px;padding-left: 30px;
  margin-top: 50px;
  .images,.videos{
    display: inline-block; width: 80px; height: 100px; padding: 0;position: relative;margin-bottom: 10px; margin-right: 10px; vertical-align: top;
    .linked-helper{position: absolute;left: 0;background: rgba(0, 0, 0, 0.34);border-radius: 0 0 4px 4px;cursor: not-allowed;bottom: 20px;height: 20px;right: 0;color: #fff;text-align: center;font-size: 12px;line-height: 20px;}
    .value_bg {
      position: absolute;
      bottom: 20px;
      right: 0;
      left: 1px;
      background: rgba(0, 0, 0, 0.4);
      color: #fff;
      padding: 2px 5px;
      font-size: 12px;
      border-radius: 0 0 4px 4px;
      .accuracy,.fuzziness{display: inline-block;}
      .fuzziness{float: right;}
    }
    img{width: 80px;height: 80px; object-fit: cover; border-radius: 4px; border: 1px solid #ccc; box-sizing: border-box;}
    .person-name,.relations-info{font-size: 12px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;height: 20px;padding: 4px; position: absolute;}
    .person-name{
      height: 30px;
      line-height: 30px;
      padding: 0;
    }
    .merged-count {
      position: absolute;
      top: 60px;
      right: 0;
      background: rgba(0, 0, 0, 0.64);
      color: #fff;
      font-size: 12px;
      padding: 0 4px;
    }
  }
  .images-merged img {
    padding: 4px;
    border-radius: 2px;
  }
  .images-merged:before, .images-merged:after {
    background: #fff;
    content: "";
    border-radius: 2px;
    bottom: 18px;
    top: 0px;
    position: absolute;
    border: 10px solid #fff;
    left: 0;
    box-sizing: border-box;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    right: 0;
    z-index: -10;
  }
  .multi-selected img {
    border: 2px solid #39a8fe;
    box-shadow: 0 0 5px 2px #03A9F4;
  }
  .images-merged:after{
    bottom: 15px;
    z-index: -20;
  }
  div.videos{
    // width:100%;height: 160px; position: relative;margin-bottom: 10px;
    img{
      width: 100%;height: 50px;border: 1px solid #ccc;border-bottom: none;border-radius: 4px 4px 0 0;
    }
    .select-video-disable,.select-video-enable {height: 30px;line-height: 30px;text-align: center;box-sizing: border-box;border-radius: 0 0 4px 4px;border: 1px solid #ccc;}
    .select-video-enable{color: #39a8fe;}
     .select-video-disable{color: gray;}
    .video-play-tip{
      position: absolute;top: 0;left: 0;width: 100%;height: 50px;
      img{position: absolute;width: 24px !important; height: 24px !important; top: 50%;left: 50%;margin-left: -12px;margin-top: -12px;border: none; outline: none; }
    }
  }
  .timeLine-time{
    margin: 10px 0;margin-left: -20px;
    .dot-normal {
        display: inline-block;
        height: 10px;
        width: 10px;
        background: #999;
        border-radius: 5px;
    }
    .dot-success{
      background: #00BCD4;
      box-shadow: 0 0 3px #00BCD4, 0px 0px 0px 3px rgba(0, 188, 212, 0.4);
    }
    .time {
      margin-left: 6px;
      color: #555;
    }
  }
}
.timeLine:before {
    content: "";
    position: fixed;
    width: 2px;
    background: #bbbaba;
    left: 14px;
    top: 0;
    bottom: 0;
    height: 100%;
    z-index: -1;
}

.videoPreviewLayer{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  z-index: 99999;
  display: none;
  .videoLayer{
    position: absolute; 
    top: 10%;
    left: 0;
    height: 50%;
    width: 100%;
  }
  .selectVideoButton{
    position: absolute;
    bottom: 64px;
    height: 64px;
    line-height: 64px;
    text-align: center;
    width: 100%;
    font-size: 16px;
  }
}

.mbsc-ic, .mbsc-ic:before {
  display: inline-block;
  font: normal normal normal 20px/1 FontAwesome !important;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: middle;
}
.mbsc-ic-material-keyboard-arrow-left:before {
    content: "\f104" !important;
}
.mbsc-ic-material-keyboard-arrow-right:before {
    content: "\f105" !important;
}

.timelineAlbum{
  .dropdown-menu{
    background: #222;
    min-width: 100px;
    left: auto;
    right: 10px;
    margin-top: 10px;
  }
  .dropdown-menu:before{
    position: absolute;
    content: "";
    top: -12px;
    right: 10px;
    border: 7px solid transparent;
    border-bottom: 7px solid #222;
  }
  .dropdown-menu > li > a {
    padding: 5px 15px;
    color: #fff;
  }
}