* {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.edit textarea {
  -webkit-user-select: auto ;
  -khtml-user-select: auto ;
  -moz-user-select: auto ;
  -ms-user-select: auto ;
  user-select: auto ;
}

input {
    -webkit-user-select: auto ;
    -khtml-user-select: auto ;
    -moz-user-select: auto ;
    -ms-user-select: auto ;
    user-select: auto ;
}
textarea {
    -webkit-user-select: none ;
    -khtml-user-select: none ;
    -moz-user-select: none ;
    -ms-user-select: none ;
    user-select: none ;
}
.img-with-hold {
    -webkit-user-select:none;
    -webkit-touch-callout:none;
}
select {
    -webkit-user-select: none ;
    -khtml-user-select: none ;
    -moz-user-select: none ;
    -ms-user-select: none ;
    user-select: none ;
}


#title {
    -webkit-user-select: auto ;
    -khtml-user-select: auto ;
    -moz-user-select: auto ;
    -ms-user-select: auto ;
    user-select: auto ;
}


#addontitle {
    -webkit-user-select: auto ;
    -khtml-user-select: auto ;
    -moz-user-select: auto ;
    -ms-user-select: auto ;
    user-select: auto ;
}

#reason {
    -webkit-user-select: auto ;
    -khtml-user-select: auto ;
    -moz-user-select: auto ;
    -ms-user-select: auto ;
    user-select: auto ;
}
