<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="org.hotshare.shareExtension"
        version="1.0.0">

  <name>HotShareShareExtension</name>

  <description>
    To Get HotShare Application Share Extension Data.
  </description>

  <license>MIT</license>

  <engines>
    <engine name="cordova" version=">=3.0.0"/>
  </engines>
  <js-module src="www/ShareExtension.js" name="ShareExtension">
      <clobbers target="cordova.plugins.shareExtension" />
  </js-module>

  <!-- ios -->
  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="ShareExtension">
        <param name="ios-package" value="ShareExtension"/>
      </feature>
    </config-file>
    <header-file src="src/ios/ShareExtension.h"/>
    <source-file src="src/ios/ShareExtension.m"/>

  </platform>

</plugin>
