.deviceDashboard{
  .lists{
    margin: 0;
    padding: 16px;
    margin-top: 40px;
    color: #555;
    .tip {
      text-align: center;
      font-size: 12px;
    }
    .listsItem{
      list-style: none;
      float: left;
      width: 33.3%;
      text-align: center;
      margin: 16px 0;
      transition: all .75s ease-in-out;
      img{
        width: 64px;
        height: 64px;
        border-radius: 50%;
      }
      p{
        font-size: 12px;
        white-space: nowrap;
        height: 20px;
        line-height: 20px;
        margin: 0;
      }
      span.time {
        font-size: 10px;
        background: #ececec;
        border-radius: 8px;
        padding: 2px 6px;
      }
    }
  }
}