.contactsList .head{display: none;}
.contactsList .head .socialTitle{position: relative;width: 100%;margin: auto;height: 40px;}
.contactsList .head .socialTitle .Contacts{font-size: 16px;font-weight: bold;position: relative;color:white;}
.contactsList .head .socialTitle .right-btn{position: absolute; right: 10px; top: 0px;color: #fff;}
.contactsList .head .socialTitle .left-btn{position: absolute; left: 10px; top: 0px;color: #fff;}
.contactsList .head .socialTitle .disable{color:#ccc;}
.addNewFriends .meet_count{z-index: 99999; width: 18px; height: 18x; line-height: 18px;position: absolute;right:20px; top:5px;border-radius: 50%;font-size:8px; text-align: center;background: #FF0000; color: #fff; }
