.masonry_container {
	width: 99.5%;
	margin-left: 0.5%;
}
.masonry_container .masonry_element {
	width:  49%;
	margin: 3px 0.0% 3px 0.0%;
	background: #FEFEFE;
	opacity: 1;
	border: 2px solid #FAFAFA;
	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
	
	-webkit-transition: all 0.5s ease-in;
	-moz-transition: all 0.5s ease-in;
	-o-transition: all 0.5s ease-in;
	transition: all 0.5s ease-in;
}
.masonry_container .masonry_element img
{
	/*display: none;*/
  display: block;
	width: 100%;
	height: auto !important;
	opacity:1;
}

.masonry_container .masonry_element .icon { position:absolute;}