.userProfile{background-color:#FFF;color: black}
.userProfile .head{background-color:#F0F0F0;color: gray !important;opacity: 0.95;}
.userProfile .head i{color: gray !important;}
.userProfile .userProfileTop{padding: 50px 10px 10px 10px;position: relative}
.userProfile .userProfileTop .icon{border-radius: 5px;margin-right: 10px;}
.userProfile .userProfileTop .userName{font-size: large;position: absolute;}
.userProfile .userProfileTop .userName img{margin-left: 5px;}
.userProfile .userProfileTop .desc{position: absolute;bottom: 32px;color: grey;}
.userProfile #sendChatMessage{background-color: forestgreen;color: white;width: 90%;border-radius: 50px;margin: auto;text-align: center;font-size: 16px;padding: 10px;margin-top: 20px;}