.inviteFriendIntoGroup{
    .head {
        background: #37a7fe;
        .rightButton .fa-plus{
            position: relative;
            bottom: 8px;
            font-size: 8px;
            color: #ffffff
        }
    }
    .content{
        position:relative;
        padding-top: 40px;
        padding-bottom: 55px;
        -webkit-touch-callout: none;
        background-color: #eee;
        .eachViewer{
            background-color: white;
        }
        .icon{width: 40px;height: 40px;margin: 10px;}
        .groupsName{color: black;}
        .line{
            text-align:center;
            width: 100%; 
            height: 1px;
            span{background: #333; width: 100%; height: 1px; display: block;}
        }
        
    }
    .followItem{
        position: relative; padding-left: 50px;
        i{width: 40px; height: 40px; line-height: 40px; text-align: center; font-size: 24px; color: #ccc; position: absolute; left: 10px; top: 50%; margin-top: -20px;}
        i.fa-circle{color: #4caf50;}
        .is-invited-item{
            color: #ccc !important;
        }
  }

}
