<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="org.hotshare.everywhere.appsetup"
        version="1.1.0">

  <name>HotShareAppSetup</name>

  <description>
    To Setup Application instead of change during build
  </description>

  <license>MIT</license>

  <engines>
    <engine name="cordova" version=">=3.0.0"/>
  </engines>
  <js-module src="www/AppSetup.js" name="AppSetup">
    <clobbers target="window.plugins.appsetup"/>
  </js-module>
  <!-- ios -->
  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="AppSetup">
        <param name="ios-package" value="AppSetup"/>
      </feature>
    </config-file>
    <header-file src="src/ios/AppSetup.h"/>
    <source-file src="src/ios/AppSetup.m"/>

    <config-file target="*-Info.plist" parent="UIBackgroundModes">
      <array>
        <string>audio</string>
        <string>remote-notification</string>
      </array>
    </config-file>

    <config-file target="*-Info.plist" parent="CFBundleDisplayName">
      <string>故事贴</string>
    </config-file>

    <config-file target="*-Info.plist" parent="NSAppTransportSecurity">
      <dict>
        <key>NSAllowsArbitraryLoads</key><true/>
      </dict>
    </config-file>
    <config-file target="*-Info.plist" parent="LSApplicationQueriesSchemes">
      <array>
        <string>weixin</string>
        <string>wechat</string>
        <string>mqq</string>
      </array>
    </config-file>

    <config-file target="config.xml" parent="/*">
      <feature name="HotShareAppSetup">
        <param name="ios-package" value="HotShareAppSetup"/>
        <param name="onload" value="true" />
      </feature>
    </config-file>

  </platform>

</plugin>
