.top{padding-top:80px; }
.top div{clear: both; display: block; margin:auto;width: 60px;height: 60px;border-radius:50%;box-shadow: 0 0 15px #fff, 0 0 3px #fff}
.top div img{border: none;width:100%;border-radius:50%;}
.top .userName{white-space: nowrap;clear: both; display: table; margin:auto;margin-top: 10px;font-weight: bold;}
.user .line{text-align:center;width: 100%; height: 1px; padding: 5px 25px;}
.user .line span{background: #bbb; width: 100%; height: 1px; display: block;}
.user .follow{display: block;text-align: center}
.user .follower{display: inline-block;}
.user .following{display: inline-block;}
.user .vertical{text-align:center;width: 1px; height: 10px; display: inline-block;margin: auto 5px;}
.user .vertical span{background: #bbb; width: 1px; height:10px ; display: block;}