.inOutPicPreview{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.8);
  z-index: 99999;
  display: none;
  .timeLayer{
    height: 64px;
    line-height: 64px;
    text-align: justify;
    font-size: 22px;
    color: #000;
    text-align: center;
    margin: 0 16px;
  }
  .imgLayer{text-align: center; margin-top:80px;}
  .closeBtn{

  }
}
.blur-element{
  -webkit-filter: blur(10px);
  filter: blur(10px);
}

.workstatusLoading{
  position:fixed; width:100%;text-align: center; margin-top:40%; color: black; font-size: 16px;
  img{width: 110px;}
}

.date_select{
  // background-color: rgba(255, 255, 255, 0.15);
  color: #000;
  position: relative;
  .title{ text-align: justify;}
  .select_btn{
    // position: absolute;
    float: right;
    margin-left: 4px;
    background-color: #9E9E9E;
    color: #fff;
    padding: 0px 8px;
    border-radius: 4px;
  }
}

.homePage #connection-lost-banner{
    top: 80px !important;
  }