<script src="{{ base }}/boomerang-min.js" type="text/javascript"></script>
<script type="text/javascript">
    BOOMR.init({
        beacon_url: "{{ base }}/beacon.gif",
        BW: {
            base_url: "{{ base }}/images/",
            cookie: "BW"
        }
    });
</script>