<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:fb="http://ogp.me/ns/fb#">
<head>
    <meta charset="utf-8">
    <title>{{title}} - 故事贴</title>
    <meta name="description" content="{{title}}, {{addontitle}}, 故事贴">
    <meta property="og:description" content="{{title}}, {{addontitle}}, 故事贴"/>
    <meta property="og:url" content="http://cdn.tiegushi.com/posts/{{_id}}"/>
    <meta property="og:title" content="{{title}} - 故事贴"/>
    <meta property="og:image" content="{{mainImage}}"/>
    <meta property="og:image:width" content="400" />
    <meta property="og:image:height" content="300" />
    <meta property="fb:app_id" content="1759413377637096" />
    <link rel="icon" href="{{mainImage}}">
    <style type="text/css">
        #content img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: 1;
        }
    </style>
</head>
<div id="content">
    <div><img src="{{mainImage}}" alt="{{siteTitle}}"></div>
    <h1>{{title}}</h1>
    <h2>{{addontitle}}</h2>
    {{#each pub}}
        {{#if isImage}}
            <div><img src="{{imgUrl}}" alt="{{siteTitle}}"></div>
        {{else}}
            <p>{{text}}</p>
        {{/if}}
    {{/each}}
</div>
</html>