.groupInformation {
    .head{
        background: #37a7fe;
    }
    .content {
        position: relative;
        padding-top: 40px;
        padding-bottom: 55px;
        -webkit-touch-callout: none;
        background-color: #eee;
        .icon {
            width: 40px;
            height: 40px;
            margin: 10px;
            object-fit: cover;
        }
        .groupsName {
            color: black;
        }
        .barcode{
            img{
                width: 32px;
                position: relative;
                top: -5px;
            }
        }
        .copy{
            top: 20px;
            right: 10px;
            left: auto;
            color: #888888;
            border-style: solid;
            border-width: 1px;
            padding: 2px 5px;
            height: auto;
            border-radius: 5px;
            font-size: 14px;
        }
        .template_value{
            // height: auto;
            // top: 20px;
            // position: relative;
            // //padding: 10px;
            // padding-right: 10px;
            // padding-bottom: 10px;
            // margin-bottom: 10px;
            text-align: right;
            img{
                width: 40px;
                height: 50px;
                margin-left: 20px;
                margin-right: 10px;
                //border-radius: 10px;
            }
        }
        .announcementVal{
            height: auto;
            top: 20px;
            position: relative;
            padding: 10px;
            text-align: left;
            word-break: break-all;
            margin-bottom: 10px;
            .announcement_item{
                position: relative;
            }
            div._close:nth-child(n+3){display: none !important;}
            .dataset_url{
                padding: 10px 0px;
            }
            .copy{
                top: 10px;
                right: 10px;
                left: auto;
                color: #888888;
                border-style: solid;
                border-width: 1px;
                padding: 2px 5px;
                height: auto;
                border-radius: 5px;
                font-size: 14px;
            }
        }
        .line {
            text-align: center;
            width: 100%;
            height: 1px;
            span {
                background: #333;
                width: 100%;
                height: 1px;
                display: block;
            }
        }
        .emptyMessages{
            position: relative;
            font-weight: 400;
            font-size: 16px;
            background-color: #fff;
            height: 45px;
            // border-radius: 5px;
            /* padding-left: 5%; */
            padding-top: 10px;
            padding-left: 10px;
            //margin-top: 10px;
            margin-bottom: 10px;

        }
        .scanPerfBarcode,.groupPhoto,.groupEmail{
            position: relative;
            font-weight: 400;
            font-size: 16px;
            background-color: #fff;
            height: 45px;
            // border-radius: 5px;
            /* padding-left: 5%; */
            padding-top: 10px;
            padding-left: 10px;
            //margin-top: 10px;
            margin-bottom: 10px;

        }
        .checkPerf{
            position: relative;
            font-weight: 400;
            font-size: 16px;
            background-color: #fff;
            height: 45px;
            // border-radius: 5px;
            /* padding-left: 5%; */
            padding-top: 10px;
            padding-left: 10px;
            //margin-top: 10px;
            margin-bottom: 10px;

        }
        .deleteAndExit{
            position: relative;
            left: 2.5%;
            width: 95%;
            text-align: center;
            font-size: 18px;
            background-color: #f56262;
            color: #ffffff !important;
            height: 45px;
            border-radius: 5px;
            /* padding-left: 5%; */
            padding-top: 10px;
        }
    }
    .disbaleNormalLabelMsg{
        line-height: 32px;
        background: #ffffff;
        padding: 5px 10px;
        font-size: 16px;
    }
    .switch{
        position: relative;
        width: 52px;
        height: 32px;
        border: 1px solid #dfdfdf;
        outline: 0;
        border-radius: 16px;
        box-sizing: border-box;
        background-color: #dfdfdf;
        transition: background-color 0.1s, border 0.1s;
        -webkit-appearance: none;
        margin: 0;
    }
    .switch:checked{
        border-color: #04be02;
        background-color: #04be02;
    }
    .switch:before{
        content: " ";
        position: absolute;
        top: 0;
        left: 0;
        width: 50px;
        height: 30px;
        border-radius: 15px;
        background-color: #fdfdfd;
        transition: transform 0.35s cubic-bezier(0.45, 1, 0.4, 1);
    }
    .switch:checked:before{transform: scale(0);}
    .switch:after{
        content: " ";
        position: absolute;
        top: 0;
        left: 0;
        width: 30px;
        height: 30px;
        border-radius: 15px;
        background-color: #ffffff;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
        transition: transform 0.35s cubic-bezier(0.4, 0.4, 0.25, 1.35);
    }
    .switch:checked:after{transform: translateX(20px);}
}

.groupUsers {
    background-color: white;
    ul{
        margin:0;
        //padding-left:4% !important;
        overflow:hidden;
        list-style-type:none;
        padding-bottom: 10px;
        li{
            position: relative;
            display: inline-block;
            width:16%;
            //margin-right: 2%;
            margin-left: 3.3%;
            margin-bottom: 8%;
            float: left;
            height: 0;
            padding-bottom: 16%;
            .group-admin-label {
                position: absolute;
                bottom: 0;
                right: 0;
                z-index: 9;
                width: 20px;
                height: 20px;
            }
            .box {
                position: relative;
                width:    100%; /* desired width */
                margin-top: 10px;
                // margin-bottom: 5px;
            }

            .box:before {
                content:     "";
                display:     block;
                padding-top: 100%; /* initial ratio of 1:1*/
            }

            .boxcontent {
                position: absolute;
                top:      5px;
                left:     5px;
                bottom:   5px;
                right:    5px;
            }

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 5px;
                position: absolute;
            }
            .userName{
                text-align: center;
                height: 16px;
                overflow: hidden;
                text-overflow:ellipsis;
                font-size: 12px;
                white-space: nowrap;
            }

        }
    }
    #showAllResults{
        text-align: center;
        font-size: 16px;
        color: gray;
        padding-top: 20px;
        padding-bottom: 20px;
    }
}
.setGroupname{
   background-color: #EFEFF4;height: 100%;
  .head{
    background: #37a7fe;
    position: relative;
    text-align: center;
    color: #fff;
    font-weight: bold;
    .left-btn{position: absolute; left: 10px; top: 0px;color: #fff;font-weight: normal;}
    .right-btn{
      position: absolute; right: 10px; top: 0px;color: #fff;font-weight: normal;
      i{color: #fff;}
    }
  }
  .setup{
     padding: 0;margin: 0;background-color: #fff;
     li{
      border-top: 1px solid #D9D9D9;padding: 10px;position: relative;
      label{display: block;position: absolute;left: 0; top: 50%; height: 20px; line-height: 20xp; margin-top: -10px; font-size: 16px; font-weight:normal;}
      .value{
        display: block;text-align: right;height: 20px; line-height: 20xp;font-size: 16px;color: #888888;
        i.fa-angle-right{padding-left: 5px; font-size: 20px;}
      }
      .value.select{color: #007AFF;}
      .value.checked{
        .false{width: 33px;height: 20px;background: url(/checked_false.png);background-size: 100%; float: right;}
        .true{width: 33px;height: 20px;background: url(/checked_true.png);background-size: 100%;float: right;}
      }
      .input{
        width: 100%;
        input{width: 100%;border: none;color: black;}
      }
    }
    li:first-child{border-top: none;}
  }
}
.groupBarCode {
    .head{
        background: #37a7fe;
        color: #fff;
        .dropdown {
            cursor: pointer;
            #btn-more{
                    top: -45px;
                  }
            .dropdown-backdrop{
                background-color: rgba(0, 0, 0, 0.1)
            }
            .dropdown-menu {
                padding: 0;
                right: 5px;
                left: auto;
                border-radius: 5px;
                li {
                    background-color: transparent !important;
                    text-align: center;
                    padding: 12px;
                }
                a {
                    font-size: 15px;
                }
            }
            .add-more-drop-item{
                margin-right: 10px;
                font-size: 20px;
                color: #666;
                .fa-plus{
                    position: relative;
                    bottom: 8px;
                    font-size: 8px;
                }
            }
        }
    }
    .content {
        position: relative;
        padding-top: 40px;
        padding-bottom: 55px;
        -webkit-touch-callout: none;
        background-color: white;
        .top img{
            margin-left: 20px;
            margin: 20px 10px 20px 20px;
            width: 15%;
            border-radius: 5px;
        }
        .fa-users{width: 50px;height: 50px; line-height: 50px; margin: 10px;border-radius: 6px; display: inline-block; text-align: center; background-color: #2196f3; color: #fff; font-size: 24px;}
        .barcode {
            text-align: center;
            img{
                width: 46%;
            }
        }
    }
}


.groupEmail {
    ul{
        color: red;
    }
}
.tips{
    position: fixed;
    top: 40%;
    left: 0;
    right: 0;
    bottom: 0;
    width: 80%;
    height: 30%;
    text-align: left;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    background-color: lemonchiffon;
    margin-left:auto;
    margin-right: auto; 
    transform: rotate(-10deg); 
    -o-transform: rotate(-10deg); 
    -webkit-transform: rotate(-10deg); 
    -moz-transform: rotate(-10deg); 
    // .tip{
    //     background-color: #37a7fe;
    //     margin-top:50px;
    //     padding: 10px;
    //     border: 1px solid;
    //     border-radius: 5px;
        h1{
            text-align: center;
            color: #d82222;
        }
        .line{
            border: 1px solid #888888;
            margin: 20px 0;
        }
        p{
            font-size: 16px;
            color: #d05241;
            font-weight: 400;
        }
    // }
}