.dashboard{background-color: #efeff4;color: #000}
.dashboard .head{background-color: #f7f7f7;color: #111;border-bottom: 1px solid #c8c7cc }
.dashboard .head div{color: #000}
.dashboard .head .rightButton{color: #57CCCC}
.dashboard .head .leftButton{color: #57CCCC}
.dashboard .head .leftButton i{color: #57CCCC}
.dashboard .content{position:relative;padding-top: 40px;padding-bottom: 50px;}

//dashboard全局影响
.dashboard .content .smalltitle{margin-top: 30px;margin-bottom: -30px;padding-left: 15px;font-size: 12px;color: #aaa;}
.dashboard .content .smallcontent{padding: 10px 10px 0px;font-size: 12px;color: #aaa;}
.dashboard .content .ver{text-align: center;margin-top: 30px;color: #444;font-size: 16px;}
.dashboard .content span i{color: #c8c7cc;font-size: 24px;}
.dashboard .content span input{border: none;background-color: #FFF;width: 100%;}
.dashboard .box{background-color: #FFF;border: 1px solid #c8c7cc;border-left: 0px;border-right: 0px;margin-top: 30px;}
.dashboard .boxTitle{position: relative;padding: 8px 15px}
.dashboard .boxTitle span{position: absolute;right: 10px;}
.dashboard .boxTitle .input{position: absolute;left: 35%;}
.dashboard .boxCenter{text-align: center;color: #57CCCC}
.switchkk {
  height: 25px;
  width: 50px;
  position: absolute;
  top: 20%;
  right: 10px;
  
  -moz-border-radius: 40px;
  -webkit-border-radius: 40px;
  border-radius: 40px;
  background-color: #d1d1d1;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFD1D1D1', endColorstr='#FFFEFBF7');
  background-image: -moz-linear-gradient(top, #d1d1d1 0%, #fefbf7 100%);
  background-image: -webkit-linear-gradient(top, #d1d1d1 0%, #fefbf7 100%);
  background-image: linear-gradient(to bottom, #d1d1d1 0%, #fefbf7 100%);
}

.checkboxkk {
  height: 25px;
  width: 50px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10000;
  -moz-border-radius: 35px;
  -webkit-border-radius: 35px;
  border-radius: 35px;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFF28A00', endColorstr='#FFD86517');
  background-image: -moz-linear-gradient(top, #57cccc 0%, #57cccc 67%, #57cccc 100%);
  background-image: -webkit-linear-gradient(top, #57cccc 0%, #57cccc 67%, #57cccc 100%);
  background-image: linear-gradient(to bottom, #57cccc 0%, #57cccc 67%, #57cccc 100%);
}
.checkboxkk:after {
  height: 25px;
  width: 25px;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  z-index: 9999;
  -moz-border-radius: 35px 0 0 35px;
  -webkit-border-radius: 35px;
  border-radius: 35px 0 0 35px;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFB1DD00', endColorstr='#FF84AD00');
  background-image: -moz-linear-gradient(top, #57cccc 0%, #57cccc 67%, #57cccc 100%);
  background-image: -webkit-linear-gradient(top, #57cccc 0%, #57cccc 67%, #57cccc 100%);
  background-image: linear-gradient(to bottom, #57cccc 0%, #57cccc 67%, #57cccc 100%);
}

.controlkk {
  outline: 0;
  position: absolute;
  margin-top: 0px !important;
  right: 1px;
  z-index: 10001;
  -webkit-appearance: none;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFEFEFEF', endColorstr='#FFBCB9B8');
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.controlkk:checked {
  left: 25px;
}
.controlkk:after {
  height: 25px;
  width: 25px;
  position: absolute;
  right: 0;
  top: 0;
  content: '';
  z-index: 10001;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: #c2c0be;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFC2C0BE', endColorstr='#FFD7D7D7');
  background-image: -moz-linear-gradient(top, #c2c0be 0%, #d7d7d7 72%);
  background-image: -webkit-linear-gradient(top, #c2c0be 0%, #d7d7d7 72%);
  background-image: linear-gradient(to bottom, #c2c0be 0%, #d7d7d7 72%);
}

//dashboard局部影响
.dashboard .content .email span{color: #c8c7cc}
.dashboard .content .email span i{margin-left: 5px;}
