//.showPosts .content .gridster img.lazy{position:relative !important;}
.showPosts .content .gridster textarea{font-size:large; margin: 0;color: black;white-space: pre-line;word-wrap: break-word;background :none; line-height: 30px; border:0px dotted #00c4ff;overflow-y: hidden; resize:vertical;height:100%;width:100%;box-sizing:border-box;}
.showPosts .content .gridster p{vertical-align: middle; display: inline-block; padding-left:4px; padding-right:4px; font-size:large; color: black;white-space: pre-wrap;word-wrap: break-word;background :none; line-height: 30px; border:0px dotted #00c4ff;resize:vertical;height:100%;width:100%;box-sizing:border-box;}
.showPosts .content .gridster .textDiv1{vertical-align: middle; display: inline-block; padding:5px; font-size:large; color: black;white-space: pre-line;word-wrap: break-word;background :none;border:0px dotted #00c4ff;resize:vertical;height:100%;width:100%;box-sizing:border-box;}
.showPosts .content .gridster {padding-left:15px; padding-right:15px;}

.showPosts .content .gridster .element{position:absolute;color:black;display:block;overflow: hidden;}
.showPosts .content .gridster .postTextItem .inlineScoring{display:inline;/*float: right;*/}
.showPosts .content .gridster .postTextItem{height:auto;}
.showPosts .content .gridster .postImageItem{
  margin-left: 0;
  margin-right: 0;
}
.showPosts .content .gridster .postImageItem img{
  width:100%;
  height:100%;
  object-fit:cover;
  z-index:1;
  position:relative !important;
}