// .top{padding-top:80px; }
.top .icon{clear: both; display: block; margin:auto;width: 80px;height: 80px;border-radius:50%;box-shadow: 0 0 15px #fff, 0 0 3px #fff;}
.top .icon img{border: none;border-radius:50%;object-fit: cover;}
.top .icon i{display: block; text-align: center; font-size:24px; color: #939f3e;padding:10px 0 0 0;}
.top .userName{clear: both; display: block; margin:auto;margin-top: 20px;margin-bottom: 0px;font-weight: bold;font-size: 24px; height: 24px; line-height: 24px; width: 90%; text-align: center;overflow: hidden; word-break: break-all;}
.top .searchForm{position:absolute;height:40px;z-index:11;margin:0;padding:0;top:55px;left:10px;right:10px;color:#fff; font-weight: normal;border: solid;border-radius: 20px;border-color: #888;border-width: thin;padding: auto;padding-top: 0px;}
.top .searchForm label{display:block;width:100%;float: left; overflow: hidden}
.top .searchForm input{position: absolute; height:40px; padding-left: 40px;border:none; background-color:transparent;color:#fff;width:100%;}
.top .searchForm input:focus{outline:none;}
.top .searchForm i{position:absolute;float:left;padding: 12px 15px;font-size: 12px;}
#userPage{padding-bottom: 50px; overflow-x: hidden;}
.user .line{text-align:center;width: 100%; height: 1px; padding: 5px 25px;}
.user .line span{background: #888; width: 100%; height: 1px; display: block;}
.user .follow,.good{display: block;text-align: center;}
.user .good{margin: 20px auto;}
.user .follower,.praise{display: inline-block;}
.user .following,.dot{display: inline-block;}
.user .forward{display: inline-block;margin: auto 5px;}
.user .vertical{text-align:center;width: 1px; height: 10px; display: inline-block;margin: auto 5px;}
.user .vertical span{background: #bbb; width: 1px; height:10px ; display: block;}
.user .draft{margin: 0px 0px;}
.user .draftLeft{display: inline-block; position:absolute; left: 10px;cursor:pointer; text-align:left;}
.user .draftRight{display: inline-block; position:absolute; right: 5px; cursor:pointer; text-align:right;}
.user .draftImages{padding: 35px 0px;padding-top:35px;}
.user .draftImages ul {margin:0;padding:0;overflow:hidden;list-style-type:none;}
.user .draftImages ul li{position: relative; height:144px;float:left;width:46%;margin-bottom:8px;background-repeat: no-repeat;background-position:left center;background-size:cover;able-layout:fixed; word-break: break-all; overflow:hidden;}
.user .draftImages ul li{color:#fff;line-height:24px;padding-right:2%;padding-top:80px;text-shadow:2px 2px 2px #000, 0px 0px 10px #000, 0px 0px 20px #000;text-align:left;margin-right: 2%;margin-left:2%;}
.user .draftImages ul li:nth-child(2n){background-position:right center;}
.user .draftImages ul li .title{margin-left:10px;font-weight:bold;}
.user .draftImages ul li .addontitle{margin-left:10px;}
.user .post{margin: 0px 0px;}
.user .postLeft{display: inline-block; position:absolute; left: 10px;cursor:pointer; text-align:left;}
.user .postRight{display: inline-block; position:absolute; right: 5px; cursor:pointer; text-align:right;}
.user .postImages{padding-top:35px;}
.user .postImages ul {margin:0;padding:0;overflow:hidden;list-style-type:none;}
.user .postImages ul li{position: relative; height:144px;float:left;width:46%;margin-bottom:8px;background-repeat: no-repeat;background-position:left center;background-size:cover;}
.user .postImages ul li{color:#fff;line-height:24px;padding-right:2%;padding-top:80px;text-shadow:2px 2px 2px #000, 0px 0px 10px #000, 0px 0px 20px #000;text-align:left;margin-right: 2%;margin-left:2%;}
.user .postImages ul li:nth-child(2n){background-position:right center;}
.user .postImages ul li .title{margin-left:10px;font-weight:bold;}
.user .postImages ul li .addontitle{margin-left:10px;}
.user .rightButton #login-buttons a{text-decoration: blink;}
.user .rightButton #login-buttons #login-dropdown-list{background-color: #333;color: #fff;}
.user .css-post-title{position: absolute; bottom: 0;width: 100%;}

.searchMyPosts .content {position:relative;padding-top: 5px;padding-bottom: 55px;}
.searchMyPosts .content .searchForm{position:relative; margin:0; padding:0; margin-top:0; margin-left:10px;margin-right:0px;color:#fff; font-weight: normal;border: solid;border-radius: 20px;border-color: #444;border-width: thin;padding: auto;padding-top: 0; min-height: 40px;}
.searchMyPosts .content .searchForm label{position:absolute; padding-left:40px; height:40px;display:block;width:100%;float: left; overflow: hidden;}
.searchMyPosts .content .searchForm input{border:none; background-color:transparent;color:#fff;width:100%; height: 40px;}
.searchMyPosts .content .searchForm input:focus{outline:none;}
.searchMyPosts .content .searchForm i{float:left;padding: 12px 15px;font-size: 12px;}
.searchMyPosts .content table{width: 100%; top: 10px;position: fixed;z-index: 9999;}
.searchMyPosts .content table td{text-align: center; vertical-align: middle; padding: 0 3px;}

.searchMyPosts .content .contentList{display: block;position:relative;min-height: 50px;}
.searchMyPosts .content .icon{position: relative; left:0px; margin: 10px;border: none;border-radius:50%;}
.searchMyPosts .content .userName{position: absolute;top:15px;left: 50px;color: #FFF;}
.searchMyPosts .content .follow{position: absolute;top: 10px;right: 10px;width: 30px;height: 30px;text-align: center; display: table;border-radius: 50%;border: thin solid #fff;background-color: #fff;color: #000;}
.searchMyPosts .content .follow span{position: relative;bottom: 8px;font-size:8px;padding-top: 12px;}
.searchMyPosts .content .desc{padding: 0 15px;}
.searchMyPosts .line{text-align:center;width: 100%; height: 1px; padding: 5px 0px;}
.searchMyPosts .line span{background: #444; width: 100%; height: 1px; display: block;}
.searchMyPosts .content a,a:hover,a:focus{text-decoration: none;color: #bbb;}
.searchMyPosts .content .stitle{position: relative;margin-top:10px; margin-left:10px;color: #bbb}

.searchMyPosts .content .my_btns{margin: 0; margin-top:5px; margin-bottom:5px; padding:0; list-style-type: none; overflow: hidden;border-top: 1px solid #444;border-bottom: 1px solid #444; background-color: #000;}
.searchMyPosts .content .my_btns li{float: left; padding:10px 0;width:33%; text-align: center; color:#444;}
.searchMyPosts .content .my_btns li.on{background-color: #444; color:#fff;}
.searchMyPosts .content .my_btn2 li{width: 50%}

.searchMyPosts .content .topicTitle{position: relative;padding: 8px 15px;}
.searchMyPosts .content .topicTitle span{position: absolute;right: 10px; color: #bbb;}
.searchMyPosts .content .topicTitle span i{margin-left: 5px; color:#ffffff;}


.user .groupsList{
	padding: 10px;
	.item_head{
		padding-bottom: 10px;
		.check_all{
			right: 5px;
			position: absolute;
		}
	}
	i.fa-users{
		color: #37a7fe;
		font-size: 16px;
		margin: 10px;
	}

}

.user .top{
	background: #fff;
	border-radius: 4px;
	padding: 32px 0;
}
.user .content{
	background: #efefef;
}

.userCheckinBox{
	margin: 10px 0;background: #fff;padding: 10px;
	.checkInOutStatus{
		position: relative; margin: 16px;
	}
	.checkInOutStatus:before{
		position: absolute;
    content: "";
    top: 20px;
    bottom: 20px;
    left: 6px;
    width: 1px;
    background: #ccc;
	}
}