/**
 * Placerholder css
 */
.wookmark-placeholder {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-color: #eee;
    border: 1px solid #dedede;
    z-index: -1;
}

/**
 * Grid container
 */
.tiles-wrap {
    position: relative; /** Needed to ensure items are laid out relative to this container **/
    margin: 10px 0;
    padding: 0;
    list-style-type: none;
    display: none;
}


/**
 * Grid items
 */
.tiles-wrap li {
    display: block;
    opacity: 1;
    text-align: center;
    list-style-type: none;
    background-color: #fff;
    float: left;
    cursor: pointer;
    width: 200px;
    padding: 4px;
    border: 1px solid #dedede;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.tiles-wrap.animated li {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.tiles-wrap li.wookmark-inactive {
    visibility: hidden;
    opacity: 0;
}

.tiles-wrap li:hover {
    background-color: #fafafa;
}

.tiles-wrap img {
    display: block;
}

.tiles-wrap a {
    color: #555;
    text-align: center;
    /* display: table-cell; */
    width: 200px;
    height: 200px;
    font-size: 2em;
    font-weight: bold;
    text-decoration: none;
}

.tile-loading:after {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #ddd;
    content: "Loading\2026";
    padding-top: 20px;
    color: #999;
}

/**
 * Filters
 */
#filters {
    list-style-type: none;
    text-align: center;
    margin: 0 5% 0 5%;
}

#filters:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

#filters li {
    font-size: 12px;
    float: left;
    padding: 6px 8px 4px;
    cursor: pointer;
    margin: 0 10px;
    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    -o-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#filters li:hover {
    background: #4281f5;
    color: #ffffff;
}

#filters li.active {
    background: #4281f5;
    color: #ffffff;
}

.newLayout_container .newLayout_element .img_placeholder{
    position: relative;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.newLayout_container .newLayout_element .img_placeholder button{
    position: absolute;
    bottom: 0;
    color: white;
    font-size: 250%;
    right: 0;
    top:auto;
    background: transparent;
    border: none;
    padding: 0;
    margin-right: 10px;
}
.newLayout_container .newLayout_element .mainImage
{
    /*display: none;*/
    display: block;
    width: 100%;
    height: auto !important;
    opacity:1;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.newLayout_container {
    width: 100%;
    display: block;
    position: absolute;
    padding-bottom: 50px;
    background-color: rgb(231,231,231);
}

.newLayout_container .newLayout_element .icon { position:absolute;}
.newLayout_container .newLayout_element header{position: absolute;bottom: 44px;color: #fff;left: 0;width: 100%;background: -webkit-linear-gradient(rgba(0,0,0,0.0), rgba(0,0,0,0.5));background: -o-linear-gradient(rgba(0,0,0,0.0), rgba(0,0,0,0.5));background: -moz-linear-gradient(rgba(0,0,0,0.0), rgba(0,0,0,0.5));background: linear-gradient(rgba(0,0,0,0.0), rgba(0,0,0,0.5));}
.newLayout_container .newLayout_element p{margin: 0;padding: 2% 1% 2% 5%;}
.newLayout_container .newLayout_element .title{font-size: 16px;font-weight: bold;white-space: pre-line;word-wrap: break-word;}
.newLayout_container .newLayout_element .addontitle{font-size: 11px;white-space: pre-line; word-wrap: break-word;}
/*.newLayout_container .newLayout_element .title{font-size: 16px;text-shadow: 0 1px 0 black;color: white;font-weight: normal;white-space: pre-line;word-wrap: break-word;}
.newLayout_container .newLayout_element .addontitle{font-size: 11px;text-shadow: 0 1px 0 black;color: white;white-space: pre-line; word-wrap: break-word;}*/
.newLayout_container .newLayout_element .userIcon{border-radius: 5px;margin: 2%;}
.newLayout_container .newLayout_element .pin_content{position: relative;border-top: 1px solid #ebebeb;}
.newLayout_container .newLayout_element h2{margin: 0;padding: 4% 1% 4% 5%;font-size: 12px;top: 26px;color: #999999;font-weight: normal;}
.newLayout_container .newLayout_element h1{margin: 0;padding: 4% 1% 4% 5%;font-size: 12px;top: 8px;color: #07519a;letter-spacing: 1px;font-weight: normal;border-top: 1px solid #ddd;}
.newLayout_container .newLayout_element h1 span{color: #999;}
.newLayout_container .newLayout_element b{position: absolute;right: 7px;top: 6px;font-size: 11px;font-weight: normal;color: #999999;}

.moments .loading-spinner{position:fixed;bottom:60px;left:50%;height:46px;width:46px;margin-left: -23px;}
