.addPost .content{position:relative;margin-top: 45px;margin-bottom: 55px; }
.addPost .content .mainImage{margin-bottom: 20px;background-repeat: no-repeat;background-size: 100% auto;background-position: center center;}
.addPost .contentList{position:relative;}
.addPost .content .img{clear: both; display: block; margin:auto;}
.addPost .content .textarea{width: 65%;text-align: center;clear: both; display: block; margin:5% auto;font-size: 20px;font-weight:bold;background:none;border:1px dotted #fff;overflow-y: hidden;height:20px}
.addPost .content .title{position: absolute;left: 5%;width: 90%;clear: both; display: block; margin:5% auto;font-size: 60px;font-weight:bold;background:none;border:1px dotted #fff;overflow-y: hidden;height:70px}
.addPost .content .addontitle{position: absolute;left: 5%;width: 90%;clear: both; display: block; margin:5% auto;font-size: 40px;font-weight:bold;background:none;border:1px dotted #fff;overflow-y: hidden;height:50px}
.addPost .content #addmore{position: absolute; left: 50%;margin-left: -30px;font-size: 80px;bottom: 1px;color: #55acee}
.addPost .content .remove{position: absolute;right: 15px;font-size: 20px;bottom: 2px;color: yellow}



.showPosts .content{position:relative;margin-bottom: 55px; background-color:white}
.showPosts .content .mainImage{margin-bottom: 20px;background-repeat: no-repeat;background-size: 100% auto;background-position: center center;}
.showPosts .contentList{position:relative;}
.showPosts .content .img{clear: both; display: block; margin:auto;}
.showPosts .content .text{word-break: break-all;white-space: pre-line;width: 65%;text-align: center;margin:5% auto;font-size: 20px;font-weight:bold;background:none;border:none;height:20px}
.showPosts .content .title{position: absolute;word-break: break-all;white-space: pre-line;left: 5%;clear: both; display: block; margin:1% auto;font-size: 60px;font-weight:bold;background:none;overflow-y: hidden;}
.showPosts .content .addontitle{position: absolute;word-break: break-all;white-space: pre-line;top: 10%;left: 5%;clear: both; display: block; margin:5% 0px;font-size: 40px;font-weight:bold;background:none;overflow-y: hidden;height:50px}