.addPost .theme{position:relative;margin-top: 45px;margin-bottom: 55px; }
.addPost .theme .mainImage{margin-bottom: 20px;background-repeat: no-repeat;background-size: 100% auto;background-position: center center;}
.addPost .themeList{position:relative;}
.addPost .theme .img{clear: both; display: block; margin:auto;}
.addPost .theme .textarea{width: 65%;text-align: center;clear: both; display: block; margin:5% auto;font-size: 150%;font-weight:bold;background:none;border:1px dotted #fff;overflow-y: hidden;height:20px}
.addPost .theme .title{position: absolute;left: 5%;width: 90%;clear: both; display: block; margin:5% auto;font-size: 150%;font-weight:bold;background:none;border:1px dotted #fff;overflow-y: hidden;height:35px}
.addPost .theme .addontitle{position: absolute;left: 5%;width: 90%;clear: both; display: block; margin:5% auto;font-size: 150%;font-weight:bold;background:none;border:1px dotted #fff;overflow-y: hidden;height:30px}
.addPost .theme #addmore{position: absolute; left: 50%;margin-left: -30px;font-size: 80px;bottom: 1px;color: #55acee}
.addPost .theme .remove{position: absolute;right: 15px;font-size: 150%;bottom: 2px;color: yellow}



.showPosts .theme{position:relative;margin-bottom: 55px; }
.showPosts .theme .mainImage{margin-bottom: 20px;background-repeat: no-repeat;background-size: 100% auto;background-position: center center;}
.showPosts .themeList{position:relative;}
.showPosts .theme .img{clear: both; display: block; margin:auto;}
.showPosts .theme .text{word-break: break-all;white-space: pre-line;width: 65%;text-align: center;margin:5% auto;font-size: 150%;font-weight:bold;background:none;border:none;height:20px}
.showPosts .theme .title{word-break: break-all;white-space: pre-line;position: absolute;left: 5%;width: 90%;clear: both; display: block; margin:5% auto;font-size: 150%;font-weight:bold;background:none;overflow-y: hidden;height:35px}
.showPosts .theme .addontitle{word-break: break-all;white-space: pre-line;position: absolute;left: 5%;width: 90%;clear: both; display: block; margin:5% auto;font-size: 150%;font-weight:bold;background:none;overflow-y: hidden;height:30px}