.gridster * {
  margin:0;
  padding:0;
}

ul {
  list-style-type: none;
}

/*/
/* demo
/*/

.controls {
    margin-bottom: 20px;
}

/*/
/* gridster
/*/

.gridster ul {
    background-color: #black;
}

.gridster li {
   /* font-size: 2em;
    font-weight: bold;
    text-align: center;
    line-height: 50%;
    */
}

.gridster {
    margin: 0 auto;

    opacity: .8;

    -webkit-transition: opacity .6s;
    -moz-transition: opacity .6s;
    -o-transition: opacity .6s;
    -ms-transition: opacity .6s;
    transition: opacity .6s;
}

.gridster .gs-w {
    background: #black;
    cursor: pointer;
}

.gridster .player {
    background: #BBB;
}


.gridster .preview-holder {
    border: none!important;
    background: blue!important;
}

