#list
{
    width: 90%;
    overflow: hidden;
    margin: auto
}
.item
{
    position: relative;
    margin-bottom: 1.875em; /* 15px 30px */
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    column-break-inside: avoid;
    width: 100%;
    overflow: hidden;
}
@media only screen and ( max-width: 640px )
{
    .item
    {
        margin-bottom: 15px;
        height: 320px;
    }
}
@media only screen and ( max-width: 320px )
{
    .item
    {
        margin-bottom: 5px;
        height: 160px;
    }
}
@media only screen and ( max-width: 240px )
{
    .item
    {
        margin-bottom: 5px;
        height: 120px;
    }
}
#wrapper .mainImage{margin-bottom: 20px;background-repeat: no-repeat;background-size: 100% auto;background-position: center center;}
#wrapper .item > header{
  position: absolute;
  bottom: 2;
  left: 0;
  width: 100%;
  padding: 2% 1%;
}
#wrapper .item > header > h1{
  margin: 0;
  text-shadow: 0 1px 0 black;
  color: white;
  font-weight:bold;
  white-space: pre-line;
  word-wrap: break-word;
}
#wrapper .item > header > h3{
  margin: 0;
  text-shadow: 0 1px 0 black;
  color: white;
  white-space: pre-line;
  word-wrap: break-word;
/*  font-weight:bold*/
}

.home .content #list .footer{position: relative;min-height: 30px;line-height: 30px}
.home .content #list .footer .icon{border: none;border-radius:50%;margin-bottom: 2.5px;}
.home .content #list .footer .right{float: right;color: gray;}