#list
{
    width: 90%;
    overflow: hidden;
    margin: auto
}
.item
{
    position: relative;
/*    margin-bottom: 1.875em;  15px 30px */
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    column-break-inside: avoid;
    width: 100%;
    overflow: hidden;
}

.flip {
    -webkit-transform: rotate(180deg);
    -moz-transform:    rotate(180deg);
    -ms-transform:     rotate(180deg);
    -o-transform:      rotate(180deg);
    transform:         rotate(180deg);
    /* needed? not sure */
    zoom: 1;
}

img.scale.item {
    object-fit: cover;
}

img.flip {
     /* actually, aligns left within .cropheight */
  float: right;
     /* clearfix after? */ }

@media only screen and ( max-width: 640px )
{
    .item
    {
/*        margin-bottom: 15px;*/
        height: 320px;
    }
}
@media only screen and ( max-width: 320px )
{
    .item
    {
/*        margin-bottom: 5px;*/
        height: 160px;
    }
}
@media only screen and ( max-width: 240px )
{
    .item
    {
/*        margin-bottom: 5px;*/
        height: 120px;
    }
}
/*#wrapper .mainImage{margin-bottom: 20px;background-repeat: no-repeat;background-size: 100% auto;background-position: center center;}*/
#wrapper .mainImage > header{
  position: absolute;
  bottom: 2px;
  left: 0;
  width: 100%;
  padding: 2% 1%;
}
#wrapper .mainImage > header > .title{
  margin: 0;
  text-shadow: 0 1px 0 black;
  color: white;
  font-family:MFYanSong;
  white-space: pre-line;
  word-wrap: break-word;
}
#wrapper .mainImage > header > .addontitle{
  margin: 0;
  text-shadow: 0 1px 0 black;
  color: white;
  white-space: pre-line;
  word-wrap: break-word;
  margin-bottom: 18px;
/*  font-weight:bold*/
}

.home .content #list .mainImage{position: relative;max-height: 300px;overflow-y: hidden;margin-bottom: 5px;}
.home .content #list .footer{position: relative;min-height: 30px;line-height: 30px;margin-bottom: 30px;}
.home .content #list .footer .icon{border: none;border-radius:50%;margin-bottom: 2.5px;}
.home .content #list .footer .right{float: right;color: gray;}
.home .content #list .footer .right i{margin: 0 2px}
