._tips ._tips_mask{position: fixed; left: 0; right: 0; top: 0; bottom: 0; z-index: 99999998; background-color: #000; opacity: 0.6;}
._tips ._tips_body{position: fixed; left: 0; right: 0; top: 0; bottom: 0; z-index: 99999999;}
._tips ._tips_body ._tips_body_main{position: relative; width: 100%; height: 100%;}