<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="org.hotshare.customDialog"
        version="1.0.0">

  <name>HotShareCustomDialog</name>

  <description>
    To create a customDialog.
  </description>

  <license>MIT</license>

  <engines>
    <engine name="cordova" version=">=3.0.0"/>
  </engines>
  <js-module src="www/CustomDialog.js" name="CustomDialog">
      <clobbers target="CustomDialog" />
  </js-module>

  <!-- ios -->
  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="CustomDialog">
        <param name="ios-package" value="CDVCustomDialog"/>
      </feature>
    </config-file>
    <header-file src="src/ios/CDVCustomDialog.h"/>
    <source-file src="src/ios/CDVCustomDialog.m"/>
    <header-file src="src/ios/CustomDialogView.h"/>
    <source-file src="src/ios/CustomDialogView.m"/>

  </platform>

</plugin>
