.userProfileSwipe .pages {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
/*   pointer-events: all;
 */}

.userProfileSwipe .page {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  /*initially hidden*/
  display: none;

}

.userProfileSwipe .animate {
  transition: transform 0.3s ease-out;
  -webkit-transition: -webkit-transform 0.3s ease-out;
}

.userProfileSwipe .scrollable {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.userProfileSwipe .swipe-control {
/*   pointer-events: none;
 */  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.userProfileSwipe .no-swipe {

}

.userProfile .noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
