#list
{
    width: 90%;
    overflow: hidden;
    margin: auto
}
.item
{
/*    position: relative;*/
/*    margin-bottom: 1.875em;  15px 30px */
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    column-break-inside: avoid;
    width: 100%;
    overflow: hidden;
}

.flip {
    -webkit-transform: rotate(180deg);
    -moz-transform:    rotate(180deg);
    -ms-transform:     rotate(180deg);
    -o-transform:      rotate(180deg);
    transform:         rotate(180deg);
    /* needed? not sure */
    zoom: 1;
}

img.scale.item {
    object-fit: cover;
    height:300px;
}

img.flip {
     /* actually, aligns left within .cropheight */
  float: right;
     /* clearfix after? */ }

@media only screen and ( max-width: 640px )
{
    .item
    {
/*        margin-bottom: 15px;*/
        height: 320px;
    }
}
@media only screen and ( max-width: 320px )
{
    .item
    {
/*        margin-bottom: 5px;*/
        height: 160px;
    }
}
@media only screen and ( max-width: 240px )
{
    .item
    {
/*        margin-bottom: 5px;*/
        height: 120px;
    }
}
/*#wrapper .mainImage{margin-bottom: 20px;background-repeat: no-repeat;background-size: 100% auto;background-position: center center;}*/
#wrapper .mainImage > header{
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  padding: 2% 1% 5% 5%;
  background: -webkit-linear-gradient(rgba(0,0,0,0.0), rgba(0,0,0,0.5)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(rgba(0,0,0,0.0), rgba(0,0,0,0.5)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(rgba(0,0,0,0.0), rgba(0,0,0,0.5)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(rgba(0,0,0,0.0), rgba(0,0,0,0.5)); /* Standard syntax (must be last) */
}
#wrapper .mainImage > header > .title{
  margin: 0;
  padding-bottom: 12px;
  text-shadow: 0 1px 0 black;
  color: white;
  font-weight:bold;
  white-space: pre-line;
  word-wrap: break-word;
}
#wrapper .mainImage > header > .addontitle{
  margin: 0;
  text-shadow: 0 1px 0 black;
  color: white;
  min-height: 28px;
  line-height: 28px;
  /*white-space: pre-line;*/
  word-wrap: break-word;
/*  font-weight:bold*/
}

.home .content #list .mainImage{position: relative;height: 300px;overflow-y: hidden;margin-bottom: 5px;}
.home .content #list .footer{position: relative;min-height: 30px;line-height: 30px;margin-bottom: 20px;}
.home .content #list .footer .icon{border: none;border-radius:50%;margin-bottom: 2.5px;}
.home .content #list .footer .right{float: right;color: gray;}
.home .content #list .footer .right i{margin: 0 2px}
