.help .fork {
	border:0;
	position:absolute;
	top:0;
	right:0;
}

.help .c3 {
	margin-right:0;
}
.help h1 {
	border-bottom: 1px solid #333;
	font-size: 32px;
	color: #fff;
	padding-bottom: 12px;
	text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6);
}
.help h2 {
	margin: 10px 0;
	color: #000;
	font-size: 18px;
	text-shadow: 1px 1px 2px #fff;
}

.help h3 a {
	background: url("./helpImgs/sprite.png") -0px -30px no-repeat; height:29px;
	display: block;
	margin: 0;
	color: #f4f5f7;
	padding-left:40px;
	text-decoration: none; line-height:29px;
	font-size:16px;
}

.help h3.open a {
	background-position: -0px -0px;
}

.help h2 + div, .example {
	background: #fff;
	overflow: hidden;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	margin-bottom: 20px;
}

.help h3+div {
	display: none;
}

.help #css3-animated-example h3 + div {
	height: 0px;
	padding: 0px;
	overflow: hidden;
	background: #000;
	display: block!important;
	-webkit-transform: translateZ(0);
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition:all 0.3s ease;
	transition: all 0.3s ease;
}

.help .c2{margin-top: 50px;}
.help .col_bj { margin:20px 10px;}
.help .custom_bk p { color:#FFF;}
.help .custom_bk img { max-width:100%; height: auto; display: block;  margin-left: auto;
  margin-right: auto;}
  
.help .col_top img  { max-width:100%; height:auto; display:block; margin-left:auto; margin-right:auto; margin-top:15px;} 
.help .close {
  float: inherit;
  font-size: 21px;
  font-weight: normal;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .8;
}








