body,h1,h2,h3,h4,h5,h6,div,a,p,span,i,strong,
ul,li,input,textarea { font-family: "Microsoft YaHei","微软雅黑","PingHei","Helvetica Neue",SimSun,Helvetica,Arial,sans-serif,Helvetica; }
#list
{
    width: 100%;
    overflow: hidden;
    margin: auto;
    margin-top: 10px;
    padding: 0;
}
.item
{
/*    position: relative;*/
/*    margin-bottom: 1.875em;  15px 30px */
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    column-break-inside: avoid;
    width: 100%;
    overflow: hidden;
}

.flip {
    -webkit-transform: rotate(180deg);
    -moz-transform:    rotate(180deg);
    -ms-transform:     rotate(180deg);
    -o-transform:      rotate(180deg);
    transform:         rotate(180deg);
    /* needed? not sure */
    zoom: 1;
}

img.scale.item {
    object-fit: cover;
    height:300px;
}

img.flip {
     /* actually, aligns left within .cropheight */
  float: right;
     /* clearfix after? */ }

@media only screen and ( max-width: 640px )
{
    .item
    {
/*        margin-bottom: 15px;*/
        height: 320px;
    }
}
@media only screen and ( max-width: 320px )
{
    .item
    {
/*        margin-bottom: 5px;*/
        height: 160px;
    }
}
@media only screen and ( max-width: 240px )
{
    .item
    {
/*        margin-bottom: 5px;*/
        height: 120px;
    }
}
/*#wrapper .mainImage{margin-bottom: 20px;background-repeat: no-repeat;background-size: 100% auto;background-position: center center;}*/
#wrapper .mainImage > header{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0 27px;
  padding-top: 135px;
  text-align: center;
  background: -webkit-linear-gradient(rgba(0,0,0,0.0), rgba(0,0,0,0.5)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(rgba(0,0,0,0.0), rgba(0,0,0,0.5)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(rgba(0,0,0,0.0), rgba(0,0,0,0.5)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(rgba(0,0,0,0.0), rgba(0,0,0,0.5)); /* Standard syntax (must be last) */
}
#wrapper .mainImage > header > .title{
  margin: 0;
  padding: 0 27px;
  /*padding-bottom: 8px;*/
  text-shadow: 0 0.5pt 0 rgba(0, 0, 0, .3);
  color: white;
  font-weight: normal;
  /*white-space: pre-line;*/
  word-wrap: break-word;
  font-size: 16pt;
  font-weight: 100;
  line-height: 22pt;
  max-height: 46pt;
  overflow: hidden;
  text-overflow: ellipsis;
  
}
#wrapper .mainImage > header > .addontitle{
  margin: 0;
  text-shadow: 0 0.5pt 0 rgba(0, 0, 0, .3);
  color: white;
  min-height: 28px;
  line-height: 19pt;
  /*white-space: pre-line;*/
  word-wrap: break-word;
/*  font-weight:bold*/
  font-size: 12pt;
  font-weight: 100;
  margin-top: 10px;
  max-height: 38pt;
  overflow: hidden;
  text-overflow: ellipsis;
}

.home .content #list .mainImage{position: relative;height: 300px;overflow: hidden;margin-bottom: 5px;}
.home .content #list .footer{position: relative;min-height: 30px;line-height: 30px;padding: 0 10px;  margin-bottom: 15px;}
.home .content #list .footer span, .home .content #list .footer img{margin: 0; padding: 0}
.home .content #list .footer .name{color:#000; font-size: 12pt; margin-left: 4px;font-size: 10pt; font-weight: 300;}
.home .content #list .footer .icon{border: none;border-radius:50%;margin-bottom: 2.5px;}
.home .content #list .footer .right{float: right;color: gray;}
.home .content #list .footer .right i{margin: 0 2px}
