<template name="box">
    <style>
      .box-chart-container{margin-top: 20px; background-color: white !important;border-radius:8px;}
    </style>
    <div class="chart-container canvas-holder half">
      <div class="col-md-12">
        <div class="btn-group">
          <!--<button type="button" id="r" class="box-chart-time btn btn-default btn-primary">realTime</button>-->
          <button type="button" id="h" class="box-chart-time btn btn-default  btn-primary">Realtime</button>
          <button type="button" id="d" class="box-chart-time btn btn-default">24 Hours</button>
          <button type="button" id="m" class="box-chart-time btn btn-default">30 Days</button>
        </div>
      </div>
      <div class="col-md-12" >
        <div id="chart-box-download" style="width:600px; height:400px; background-color:white; boder-radius:8px;" class="col-md-12 box-chart-container"></div>
        <div id="chart-box-upload" style="width:600px; height:400px; background-color:white; boder-radius:8px;" class="col-md-12 box-chart-container"></div>
      </div>
    </div>
</template>