<template name="dashboard">
    {{#if withLiveChat}}
        <script type="text/javascript">
            (function(w, d, s, f, u) {
                w[f] = w[f] || [];
                w[f].push(u);
                var h = d.getElementsByTagName(s)[0],
                        j = d.createElement(s);
                j.async = true;
                j.src = 'http://rocket.raidcdn.com/packages/rocketchat_livechat/assets/rocket-livechat.js';
                h.parentNode.insertBefore(j, h);
            })(window, document, 'script', 'initRocket', 'http://rocket.raidcdn.com/livechat');
        </script>
    {{/if}}
  <div class="dashboard-page ui-view">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <div class="text-center">
              <h2 class="brand">RAID CDN<br /><small>The way to save your bandwidth cost</small></h2>
            <!--<img src="/flat-avatar.png" class="user-avatar" />-->
            <br />
              <h5 class="brand">Token: {{token}}</h5>
            <a class="btn btn-white btn-outline btn-rounded btn-sm" id="logout-btn">Logout</a>
          </div>

          <ul class="nav nav-sidebar">
            <li class="nav-leve1 nav-title">
              Stats
            </li>
            <li class="nav-leve2">
              <a href="/dashboard/box-monitors-alive">Box Status</a>
            </li>

            <li  class="nav-leve1">
              <a href="/dashboard/settings">Settings</a>
            </li>
          </ul>
        </div>

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main ng-scope ui-view">{{> yield}}</div>

      </div>
    </div>
  </div>
</template>
