<Template name="overview">
	<div class="overview-page ui-view main" key="overview"> 
        {{#if realtimePage}}
            <a href="/dashboard/history" class="pull-right btn btn-primary btn-outline btn-rounded">History Traffic</a>
        {{/if}}
        {{#if historyPage}}
            <a href="/dashboard/reports" class="pull-right btn btn-primary btn-outline btn-rounded">Total Traffic</a>
        {{/if}}
        <h2 id="chartTitle">Loading data from server</h2>
        <div class="jumbotron">
        {{#if realtimePage}}
            {{> realtime}}
        {{/if}}
        {{#if historyPage}}
            {{> history}}
        {{/if}}
        </div>
    </div>
</Template>
