<template name="qoe">
    <style>
      .chart-container{margin-top: 20px; background-color: white !important;border-radius:8px;}
      .chart-container div{
        float: left;

      }
    </style>
    <div class="canvas-holder half">
        <div class="col-md-12">
        <div class="btn-group">
          <button type="button" id="h" class="qoe-chart-time btn btn-default  btn-primary">Realtime</button>
          <button type="button" id="d" class="qoe-chart-time btn btn-default">24 Hours</button>
          <button type="button" id="m" class="qoe-chart-time btn btn-default">30 Days</button>
        </div>
      </div>
      <div class="col-md-12  chart-container">
        <div id="chart-id-qoe-starting"  class="chart-id-qoe" style="width:800px; height:300px;"></div>
        <div id="chart-id-qoe-seeking"   class="chart-id-qoe" style="width:800px; height:300px;"></div>
        <div id="chart-id-qoe-buffering"   class="chart-id-qoe" style="width:800px; height:300px;"></div>
        <!--<div id="chart-id-qoe-counts"   class="chart-id-qoe" style="width:800px; height:300px;"></div>-->
      </div>
    </div>
</template>
