<template name="reports">
	<div key="reports" class="reports-page ui-view main">
	  <div class="ng-scope"> 
	    <a href="/dashboard/overview" class="pull-right btn btn-primary btn-outline btn-rounded">Real Time Traffic</a>
	    <h2>Total Usage (MB)</h2>

	    <i class="fa fa-dashboard bg-fade" style="bottom: 15px; top: auto;"></i>
	    <div class="jumbotron">
            <div class="chart-container canvas-holder half">
                <!--<canvas id="pie-id" class="chart chart-pie"></canvas>
                <div id="pieLegend"> </div>-->
								<div id="totalTrafficPie" style="height: 400px;"></div>
            </div>
	    </div> 
	  </div>
	</div>
</template>