<template name="settings">
  <style>
  .ui.toggle.checkbox input:checked ~ .box:before, .ui.toggle.checkbox input:checked ~ label:before {
      background-color: #3CA2E0 !important;
  }  
  .ui.toggle.checkbox .box:before, .ui.toggle.checkbox label:before {
    background: rgba(0, 0, 0, 0.15);
    width: 4rem;
    height: 2rem;
  }
  .ui.toggle.checkbox .box:after, .ui.toggle.checkbox label:after {
    width: 2rem;
    height: 2rem; 
  }
  .ui.toggle.checkbox input:checked ~ .box:after, .ui.toggle.checkbox input:checked ~ label:after {
    left: 2.25rem;
  }
  .ui.toggle.checkbox input {
    width: 8rem;
    height: 1.5rem;
  }
  br{height: 16px;}
  #logs pre{
     background: #23241f;
     padding:0;
     margin:0;
     overflow: auto;
     height:500px; 
     height:50vh;
  }
  #logs code{
    display: block;
    margin:0;
    padding: 0.5em;
    background: #23241f;
    color: #f8f8f2;
  }
  .version-item {
    display: block;
    height: 35px;
  }
  .table-version {
    margin: 0 auto;
    width: 80%;
  }
  .input-ver {
    margin: 0;
    height: 20px;
    background: none;
    border: none;
    box-shadow: none;
    font-size: 14px;
    border-bottom: 1px dotted #ccc;
  }
  .label-ver { 
    text-align: right;
    width: 40%;
  }
  .ver-float-left {
    display: block;
    float: left;
    font-size: 14px;
    line-height: 35px;
    width: 400px;
  }
  .ver-displayInlineBlock {
    display: inline-block;
  }
  </style>
	<div key="settings" class="ui-view main">
	  <div class="ng-scope"> 
	    <!--<a href="javascript:void(0);" id="save" class="pull-right btn btn-primary btn-outline btn-rounded">Save</a>-->
	    <h2>版本设置</h2>
	    <div class="jumbotron">
            
            <div class="chart-container canvas-holder half ver-float-left">
              <h4>当前版本</h4>
              <table class="table table-hover table-condensed table-striped table-version">
                {{{verInfoNow}}}
              </table>
            </div>
            <div class="chart-container canvas-holder half ver-displayInlineBlock">
              <h4>版本更新</h4>
              <form class="form-horizontal" id="boxVersionForm" role="form">
                <fieldset>
                  {{#each verInfoSet}}
                  <div class="chart-container version-item">
                      <label for="inputEmail3" class="col-sm-4 control-label label-ver">{{this}}</label>
                      <div class="col-sm-6 text-left">
                        <div class="value-fa">
                          <input id="{{this}}" class="input-ver" type="text" >
                        </div>
                      </div>
                  </div>
                  {{/each}}
                  <input type="reset" class="btn btn-default" value="重置">
                  <input type="button" class="btn btn-default" id="verModalConfirm" value="确认" data-toggle="modal" data-target="#versionConfigModal">
                </fieldset>
              </form>
            </div>
            <div class=col-xs-12>
                <h4 align="right">提示: 设置完毕后请刷新页面。</h4>
            </div>
	    </div>
      <!-- {{#if withPlayLogs}} -->
      <!-- LOGS -->
      <!-- <h2 id="logs-header" style="text-align: left; cursor: pointer;height: 40px;">
        {{#if showLogs}}
        <i class="fa fa-caret-down" aria-hidden="true"></i>
        {{else}}
        <i class="fa fa-caret-right" aria-hidden="true"></i>
        {{/if}}
        &nbsp; &nbsp;LOGS
      </h2>
      <div id="logs" class="jumbotron" style="text-align: justify;padding: 0;overflow: hidden;">
{{#if showLogs}}
      <div style="padding: 5px;">
        <div class="ui toggle checkbox pull-right" style="display: inline-block;font-size: 16px;height: 30px;line-height: 24px;margin: 4px 12px;">
          {{#if formatLogsJson}}
          <input id="format-logs-json" type="checkbox" name="public" checked>
          {{else}}
          <input id="format-logs-json" type="checkbox" name="public">
          {{/if}}
          <label>format JSON</label>
        </div>

        <form class="form-inline">
          <div class="form-group">
            <label for="logLimit">Limit:</label>
            <input type="number" style="width:64px;" class="form-control" minlength="0" id="logLimit" placeholder="limit" value="{{logsLimit}}">
          </div>
          <div class="form-group">
            <label for="sessionId">SessionId:</label>
            <input type="text" class="form-control" id="sessionId" placeholder="user session id" value="">
          </div>
          <div class="form-group">
            <label for="logTimeRange">TimeRange:</label>
          </div>
          <div class="form-group">
            <div id="logTimeRange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
                <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
                <span></span> <b class="caret"></b>
            </div>
          </div>
        </form>
      </div>
<pre>
<code class="json">
{{#each logLists}}
<div class="logsTime">{{formatLogTime createdAt}}:</div>
{{#if formatLogsJson}}
{{> jsonView json=jsonData options=jsonOptions }}
{{else}}
{{jsonData}}
{{/if}}
{{/each}}
</code>
</pre>
{{else}}
<div style="height: 50px;"></div>
{{/if}}      
      </div>
      {{/if}} -->
	  </div>
  </div>
  
<!-- box version modal-->
<div class="modal fade" id="versionConfigModal" tabindex="-1" role="dialog" aira-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"> <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span></button>
          <h3 class="modal-title" id="myModalLabel">更改确认</h3>
        </div>
        <div class="modal-body">
            <h5>确认更新版本为如下信息？</h5>
            <table class="table table-hover table-condensed table-striped">
                {{{verInfoConfirm}}}
              </table>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            <button type="button" id="versionSet" class="btn btn-default" data-dismiss="modal">确认</button>
          </div>
        <!-- {{/if}} -->
      </div>
    </div>
  </div>
</template>