<template name="settings">
  <style>
  .ui.toggle.checkbox input:checked ~ .box:before, .ui.toggle.checkbox input:checked ~ label:before {
      background-color: #3CA2E0 !important;
  }  
  .ui.toggle.checkbox .box:before, .ui.toggle.checkbox label:before {
    background: rgba(0, 0, 0, 0.15);
    width: 4rem;
    height: 2rem;
  }
  .ui.toggle.checkbox .box:after, .ui.toggle.checkbox label:after {
    width: 2rem;
    height: 2rem; 
  }
  .ui.toggle.checkbox input:checked ~ .box:after, .ui.toggle.checkbox input:checked ~ label:after {
    left: 2.25rem;
  }
  .ui.toggle.checkbox input {
    width: 8rem;
    height: 1.5rem;
  }
  br{height: 16px;}
  #logs pre{
     background: #23241f;
     padding:0;
     margin:0;
     overflow: auto;
     height:500px; 
     height:50vh;
  }
  #logs code{
    display: block;
    margin:0;
    padding: 0.5em;
    background: #23241f;
    color: #f8f8f2;
  }
  </style>
	<div key="settings" class="ui-view main">
	  <div class="ng-scope"> 
	    <!--<a href="javascript:void(0);" id="save" class="pull-right btn btn-primary btn-outline btn-rounded">Save</a>-->
	    <h2>Settings</h2>
	    <div class="jumbotron">
            <div class="chart-container canvas-holder half">
                <div class="ui toggle checkbox"  style="display:block; text-align:left; font-size:16px;">
                  <input id="raid-box" type="checkbox" name="public">
                  <label>Disable RAID BOX/Browser</label>
                </div><br/>
                <div class="ui toggle checkbox" style="display:block;  text-align:left; font-size:16px;">
                  <input id="raid-cdn" type="checkbox" name="public">
                  <label>Disable RAID CDN</label>
                </div><br/>
                <div class="ui toggle checkbox"  style="display:block;  text-align:left; font-size:16px;">
                  <input id="orignal-cdn" type="checkbox" name="public">
                  <label>Disable Original CDN</label>
                </div><br/>
            </div>
            <div class=col-xs-12>
                <h4  align="right">Note: You need refresh video page after setup.</h4>
            </div>
	    </div>
      {{#if withPlayLogs}}
      <!-- LOGS -->
      <h2 id="logs-header" style="text-align: left; cursor: pointer;height: 40px;">
        {{#if showLogs}}
        <i class="fa fa-caret-down" aria-hidden="true"></i>
        {{else}}
        <i class="fa fa-caret-right" aria-hidden="true"></i>
        {{/if}}
        &nbsp; &nbsp;LOGS
      </h2>
      <div id="logs" class="jumbotron" style="text-align: justify;padding: 0;overflow: hidden;">
{{#if showLogs}}
      <div style="padding: 5px;">
        <div class="ui toggle checkbox pull-right" style="display: inline-block;font-size: 16px;height: 30px;line-height: 24px;margin: 4px 12px;">
          {{#if formatLogsJson}}
          <input id="format-logs-json" type="checkbox" name="public" checked>
          {{else}}
          <input id="format-logs-json" type="checkbox" name="public">
          {{/if}}
          <label>format JSON</label>
        </div>

        <form class="form-inline">
          <div class="form-group">
            <label for="logLimit">Limit:</label>
            <input type="number" style="width:64px;" class="form-control" minlength="0" id="logLimit" placeholder="limit" value="{{logsLimit}}">
          </div>
          <div class="form-group">
            <label for="sessionId">SessionId:</label>
            <input type="text" class="form-control" id="sessionId" placeholder="user session id" value="">
          </div>
          <div class="form-group">
            <label for="logTimeRange">TimeRange:</label>
          </div>
          <div class="form-group">
            <div id="logTimeRange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
                <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
                <span></span> <b class="caret"></b>
            </div>
          </div>
        </form>
      </div>
<pre>
<code class="json">
{{#each logLists}}
<div class="logsTime">{{formatLogTime createdAt}}:</div>
{{#if formatLogsJson}}
{{> jsonView json=jsonData options=jsonOptions }}
{{else}}
{{jsonData}}
{{/if}}
{{/each}}
</code>
</pre>
{{else}}
<div style="height: 50px;"></div>
{{/if}}      
      </div>
      {{/if}}
	  </div>
	</div>
</template>