<template name="signup">
    <div class="login-page">
        <div class="row">
            <div class="col-md-4 col-lg-4 col-md-offset-4 col-lg-offset-4">
                <!--<img src="images/flat-avatar.png" class="user-avatar" />-->
                <h1>Register RAID CDN</h1>
                <form role="form" id="sign-up-form">
                    <div class="form-content">
                        <div class="form-group">
                            <input type="text" class="form-control input-underline input-lg" id="username" placeholder="用户名">
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control input-underline input-lg" id="email" placeholder="邮箱">
                        </div>

                        <div class="form-group">
                            <input type="password" class="form-control input-underline input-lg" id="password" placeholder="密码">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control input-underline input-lg" id="rppassword" placeholder="重复密码">
                        </div>
                    </div>
                    <div id="back-toregister" class="btn btn-white btn-outline btn-lg btn-rounded">回退</div>
                    <button type="submit" class="btn btn-white btn-outline btn-lg btn-rounded progress-login"  data-horizontal>确认</button>&nbsp;
                </form>
            </div>
        </div>
    </div>
</template>