body {
  text-align: center;
  margin-top: 150px;
}

h3 {
  font-family: "Arial";
  font-weight: 400;
  margin-bottom: 40px;
}

.totalTrafficTooltip{
  text-align: left;
  font-size: 12px;
}

.totalTrafficTooltip h4{
  margin: 5px;
}
.totalTrafficTooltip p{
  margin: 0 5px; font-size: 12px;
}
.value-fa{
  display: inline-block;
  text-align: right;
  height: 20px;
  line-height: 20xp;
  font-size: 16px;
  color: #888888;
  /* float: right; */
  position: relative;
  /* top: 1.4rem;
  right: 1.5rem; */
}
.switch{
  position: relative;
  width: 52px;
  height: 23px;
  border: 1px solid #dfdfdf;
  outline: 0;
  border-radius: 16px;
  box-sizing: border-box;
  background-color: #1FE57A;
  transition: background-color 0.1s, border 0.1s;
  -webkit-appearance: none;
  margin: 0;
}
.switch:checked:before{transform: scale(0);}
.switch:before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 51px;
  height: 21px;
  border-radius: 16px;
  background-color: #dfdfdf;
  transition: transform 0.35s cubic-bezier(0.45, 1, 0.4, 1);
}
.switch:checked:after{transform: translateX(20px);}
.switch:after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 20px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  transition: transform 0.35s cubic-bezier(0.4, 0.4, 0.25, 1.35);
}