<template name="traffic_bar">

    <div class="row">
        <div class="col-md-6" id="bar-chart">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h3 class="panel-title">RAID Realtime Bandwidth (MBytes)
                        <div class="panel-control pull-right">
                            <a class="panelButton"><i class="fa fa-refresh"></i></a>
                            <a class="panelButton"><i class="fa fa-minus"></i></a>
                            <a class="panelButton"><i class="fa fa-remove"></i></a>
                        </div>
                    </h3>
                </div>
                <div class="panel-body">
                    <div><canvas id="bar" class="chart chart-bar" data="bar.data" labels="bar.labels" series="bar.series"
                                 options="bar.options" colours="bar.colours"></canvas></div>
                </div>
            </div>

        </div>
    </div>
</template>