.search .content{position:relative;margin-top: 45px;margin-bottom: 55px;}
.searchForm{position:fixed;z-index:11;margin:0;padding:0;top:55px;left:10px;right:10px;color:#fff; font-weight: normal;border: solid;border-radius: 20px;border-color: #888;border-width: thin;padding: auto;padding-top: 5px;}
.searchForm label{display:block;width:72%;float: left; overflow: hidden}
.searchForm input{border:none; background-color:transparent;color:#fff;width:100%}
.searchForm i{float:left;padding: 5px 15px;font-size: 12px;}
.search .content #themeList{margin-top: 100px;}
.search .content .theme{opacity: 0.7;height: 150px;background-position: center center;background-size: 100% auto;text-align: center; background-repeat: no-repeat;padding-top: 50px;}
.search .content #topic{color: #888;text-align: center;padding: 20px;}
.search .content #topicList{margin:0;padding:0;overflow:hidden;list-style-type:none;text-align: center}
.search .content #topicList li{float:left;width:46%;margin-bottom:8px;padding: 4px;border: solid;border-radius: 20px;border-color: #888;border-width: thin;}
.search .content #topicList li:nth-child(n){margin-right: 1%;margin-left: 3%;}
.search .content #topicList li:nth-child(2n){margin-left: 1%;margin-right: 3%;}

