<?xml version='1.0' encoding='utf-8'?>
<widget id="org.tiegushi.live" version="1.0.2" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>故事直播</name>
    <icon src="www/img/icon.png" />
    <description>
        Peer-to-Peer (Secure) Video Scalable Broadcast (across all devices & platforms) using WebRTC/RTCMultiConnection.
    </description>
    <author email="admin@tiegushi.com" href="https://raidcdn.com/">
        RAID CDN
    </author>
    <content src="index.html" />
    <access origin="*" subdomains="true" uri="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <allow-navigation href="https://*/*" />
    <platform name="android">
        <preference name="Orientation" value="default" />
        <allow-intent href="market:*" />
        <allow-navigation href="https://tiegushi.com/*" />
        <allow-intent href="https://tiegushi.com/*" />
        <access origin="https://tiegushi.com" />
        <preference name="KeepRunning" value="true" />
        <preference name="AndroidLaunchMode" value="singleTop" />
        <config-file target="AndroidManifest.xml" parent="/manifest">
           <uses-permission android:name="android.permission.INTERNET"/>
           <uses-permission android:name="android.permission.READ_CONTACTS" />
           <uses-permission android:name="android.permission.WRITE_CONTACTS" />
           <uses-permission android:name="android.permission.GET_ACCOUNTS" />
           <uses-permission android:name="android.permission.CAMERA" />
           <uses-permission android:name="android.permission.MICROPHONE" />
           <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
           <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
           <uses-permission android:name="android.permission.RECORD_AUDIO" />
        </config-file>
    </platform>
    <platform name="ios">
        <preference name="Orientation" value="all" />
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <hook type="after_platform_add" src="hooks/iosrtc-swift-support.js" />
        <preference name="deployment-target" value="8.0" />
        <config-file target="*-Info.plist" parent="CFBundleURLTypes">
            <array>
                <key>NSAppTransportSecurity</key>
                <dict>
                  <!--Include to allow all connections (DANGER)-->
                  <key>NSAllowsArbitraryLoads</key>
                      <true/>
                </dict>
            </array>
        </config-file>
    </platform>
    <preference name="BackgroundColor" value="0xFFFF0000" />
    <preference name="xwalkUserAgent" value="Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/48.0.2564.116 Safari/537.36" />
    <preference name="Fullscreen" value="false" />
    <preference name="WebViewBounce" value="true" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="HideKeyboardFormAccessoryBar" value="true" />
    <preference name="TopActivityIndicator" value="white" />
    <preference name="KeyboardDisplayRequiresUserAction" value="false" />
    <preference name="AutoHideSplashScreen" value="true" />
    <preference name="SplashScreenDelay" value="1000" />
    <preference name="SplashMaintainAspectRatio" value="true" />
    <preference name="SplashShowOnlyFirstTime" value="false" />
    <preference name="FadeSplashScreen" value="true" />
    <preference name="FadeSplashScreenDuration" value="1000" />
    <preference name="ShowSplashScreenSpinner" value="true" />
    <preference name="xwalkVersion" value="17+" />
    <preference name="xwalkCommandLine" value="--disable-pull-to-refresh-effect" />
    <preference name="xwalkMode" value="embedded" />
    <preference name="xwalkMultipleApk" value="true" />
</widget>
