Requirements:

1) MacOSX 10.11.4 (suggested, however NOT-required)
2) XCode 7.3 (exact version, strongly recommended)
3) iOS (Emulator) 9.2.1 (strongly recommended) 
    or lower versions e.g. 9.2.0 or older.

    Never upgrade to iOS 9.2.2 or upper versions.

    It is both for XCode emulators as well as real iPhone6 device.
    Your iPhone6 device MUST also have same iOS version.
    Your iPhone6 device MUST be using same WiFi.
    Your iPhone6 device should be connected with MacBook using USB cable.

    iTunes app MUST be able to recognize your real iPhone6.

4) Android Studio 1.5.1 (recommended) --- However you can use any NEWER version.


npm install cordova -g         (I'm currently using 6.1.1)
npm install xcode -g           (maybe this one is redundant)

* https://cordova.apache.org/docs/en/latest/guide/platforms/ios/
