.registerFollow h5{color: gray}
.registerFollow hr{border-color: gray}
.registerFollow .user_head{position: relative}
.registerFollow .user_head i{font-size: 30px;position: absolute;top: 30px;right: 20px;}
.registerFollow .container{border:none}
.registerFollow #continue{margin-top: 8px;}