body{background-color: #111;min-height: 100%;height: auto;color: #fff}
.home{min-height: 100%;height: auto;}
.home .content{padding-top: 40px;padding-bottom:50px;background-color: #3F3F3F}

body.modal-open {overflow: auto;}