.contactsList .head{display: none;}
.contactsList .head .socialTitle{position: relative;width: 100%;margin: auto;height: 40px;}
.contactsList .head .socialTitle .Contacts{font-size: 16px;font-weight: bold;position: relative;color:white;}